Debug/
NJLIC-1.0.1-Darwin.dmg
NJLIC.build/
_CPack_Packages/
build/
doc/
install/
install_manifest.txt
install_manifest_Devel.txt
install_manifest_Unspecified.txt
libNJLIC.dylib
tagfile

NJLIC.xcodeproj/project.xcworkspace/
NJLIC.xcodeproj/xcuserdata/
Release/
MinSizeRel/
RelWithDebInfo/
.DS_Store

